.index{
	margin: 50px auto 0;
	display: flex;display: -webkit-flex;
	flex-wrap: wrap;
}
.index>div{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-weight: bold;
	color:#fff;
	font-size:26px;
	background-repeat: no-repeat;
}
.index:first-child>div{
	width:200px;
	height:106px;
	line-height:106px;
	margin: 0 20px 20px 0;
	padding-left: 110px;
	background-position: 30px center;
}
.index:first-child>div:last-child{
	padding-left: 80px;
	background-position: 15px center;
}
.index:nth-child(2){border-bottom: 1px solid #ccc;margin-top: 30px;}
.index:nth-child(3)>div{
	width: 310px;
	height: 137px;
	line-height: 137px;
	padding-left: 140px;
	background-position: 50px center;
}
.index>.index-take{background-color:#4e94dc;background-image: url(img/index-1.png);}
.index>.index-take.disabled{background-color: #b9d5f1}
.index>.index-in_factory{background-color:#dc974e;background-image: url(img/index-2.png);}
.index>.index-in_factory.disabled{background-color: #f1d5b9}
.index>.index-clean{background-color:#4fd3df;background-image: url(img/index-3.png);}
.index>.index-clean.disabled{background-color: #b9edf3}
.index>.index-dry{background-color:#f74f3d;background-image: url(img/index-4.png);}
.index>.index-dry.disabled{background-color: #fdb9b1}
.index>.index-ironing{background-color:#d791a3;background-image: url(img/index-5.png);}
.index>.index-ironing.disabled{background-color: #efd3db}
.index>.index-check{background-color:#e58d78;background-image: url(img/index-6.png);}
.index>.index-check.disabled{background-color: #f5d1c9}
.index>.index-put_on{background-color:#4edc8d;background-image: url(img/index-7.png);}
.index>.index-put_on.disabled{background-color: #b9f1d1}
.index>.index-out_of_factory{background-color:#f65bf1;background-image: url(img/index-8.png);}
.index>.index-out_of_factory.disabled{background-color: #fbbdf9}
.index>.index-take_off{background-color:#9577d1;background-image: url(img/index-9.png);}
.index>.index-take_off.disabled{background-color: #d5c9ed}
.index>.index-go_back_check{background-color:#eb446f;background-image: url(img/index-10.png);}
.index>.index-go_back_check.disabled{background-color: #f7b5c5}
.index>.index-add_member{background-color:#52a6ed;margin-right: 20px;background-image: url(img/index-11.png);}
.index>.index-add_member.disabled{background-color:#badbf8}
.index>.index-recharge{background-color:#fa6a56;background-image: url(img/index-12.png);}
.index>.index-recharge.disabled{background-color:#fdc3bb}
