.teamwork-logo{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.teamwork-query{
    position: absolute;
    right: 0;bottom: -310px;
    background-color: #fff;
    width: 282px;
    height: 300px;
    border: 1px solid #3596e3;
}
.teamwork-query>i.fa-times{
    position: absolute;
    top: 2px;right: 10px;
    font-size: 22px;
    color: #fff;
}
.teamwork-query>i.fa-times:hover{background: #2cd3d2;cursor: default}
.teamwork-query>div:first-of-type{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
    background-color: #3596e3;
    text-align: left;
}
.teamwork-query>.body{
    height: 250px;
    padding: 10px;
}
.teamwork-query>.body>div{position: relative}
.teamwork-query>.body>div>:first-child{
    margin-right: 10px;
    height: 27px;
    width: 200px;
    font-size: 14px;
    vertical-align: middle;
}
.teamwork-query>.body .query-result{
    width: 198px;
    height: 220px;
    position: absolute;
    bottom: -220px;
    border: 1px solid #ccc;
    border-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.teamwork-query>.body .query-result>div{
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
}
.teamwork-query>.body .query-result>div:hover{
    background-color: #04ecec;
    cursor: pointer;
}