.member{
    width: 590px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.member>div{
    margin: 0 10px 10px 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 140px;
    height: 112px;
    background-position: center 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 76px;
    
}
.member>div:nth-child(1){
    background-color: #f8796f;
    background-image: url(img/member-1.png);
    width: 190px;
    height: 112px;
}
.member>div:nth-child(2){
    background-color: #55b9e3;
    background-image: url(img/member-2.png);
    width: 190px;
    height: 112px;
}
.member>div:nth-child(3){
    background-color: #63c876;
    background-image: url(img/member-3.png);
    width: 190px;
    height: 112px;
    margin-right: 0;
}
.member>div:nth-child(4){background-color: #a997dc;background-image: url(img/member-4.png)}
.member>div:nth-child(5){background-color: #e98398;background-image: url(img/member-5.png)}
.member>div:nth-child(6){background-color: #f8a96f;background-image: url(img/member-6.png)}
.member>div:nth-child(7){background-color: #72a5dd;background-image: url(img/member-7.png);margin-right: 0}
/* 会员管理界面新增会员弹框 */
.add-member{
    width: 340px;
    height: 260px;
    position: fixed;top: 50%;left: 50%;
    margin: -130px 0 0 -170px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.add-member>.m-close{position: absolute;top: 8px;right: 10px}
.add-member>div:first-of-type{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 10px;
}
.add-member>div:nth-of-type(2){
    font-size: 18px;
    margin: 30px 0;
    text-align: center;
}
.add-member>div:nth-of-type(3){
    text-align: center;
    margin-bottom: 30px;
}
.add-member>div:nth-of-type(4){text-align: center}

.ui-mm-upd{
    width: 321px;height: 258px;
    position: fixed;top: 50%;left: 50%;margin: -129px 0 0 -160.5px;
    background: url(images/ui-mm-upd.png);
}
.ui-mm-layer-title{
    height: 60px;padding: 15px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    display: flex;display: -webkit-flex;
    justify-content: space-between;align-items: center;
}
.ui-mm-input-area{
    display: inline-block;margin: 38px 0 27px 46px;
    height: 35px;line-height: 35px;font-size: 16px;
}
.ui-mm-input-area>input{
    width: 200px;height: 35px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #e0e7eb;
}
.ui-mm-radio-area{
    width: 100%;padding: 0 0 39px 46px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}