.change-card-toast{
    width: 560px;
    height: 460px;
    position: fixed;
    top: 50%;left: 50%;
    margin: -230px 0 0 -280px;
    background: #fff;
}
.change-card-toast>div:first-child{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.change-card-toast>div:first-child>.e-table{
    width: 40%;
}
.change-card-toast>div:first-child>.e-table>tbody>tr{
    height: 30px;
    line-height: 30px;
}
.change-card-toast>div:first-child>div{
    align-self: center;
}
.change-card-toast input{
    width: 80px;
}
.change-card-toast>div:last-child{
    text-align: right;
}