.take{
    display: -webkit-flex;display: flex;justify-content: space-around;margin: 30px auto;
}
.take>div{
    min-height: 400px;
    background: #f7f7f7;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    padding: 20px;
}
.take>div>div{display: -webkit-flex;display: flex;font-size: 18px;line-height: 40px}
.take>div>div>div>div{font-size: 18px;line-height: 40px}
.take>div>div:first-child{font-size: 22px;font-weight: bold;}