@page:first{margin: 0 32px 0 18px;padding: 0}
@page:left{margin: 0;padding: 0}
@page:right{margin: 0;padding: 0}
*{margin: 0;padding: 0}
html, body{
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 1.5;
    word-break: break-all;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.t-c{text-align: center}
.t-r{text-align: right}
.dashed{display: block;border-top: 1px dashed #000}
.barcode{display: inline-block;height: 50px;width: 100%}
.empty{display: block;height: 5px}