.order-search-type{
    height: 32px;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    display: -webkit-flex;display: flex;
}
.order-search-type>span{padding: 0 16px;cursor: pointer}
.order-search-type>:first-child{margin-right: 40px}
.order-search-type>.choose{border-bottom: 2px solid #3596e3;color: #3596e3}

.m-box.order-search-tab{
    display: -webkit-flex;display: flex;
    justify-content: space-between;
}