.good-layer{
    width: 489px;
    height: 410px;
    background: #fff;
    position: fixed;
    top: 50%;left: 50%;
    margin: -205px 0 0 -244.5px;
    border: 1px solid #81b6e1;
    border-radius: 5px;
}
.good-layer>div:first-child{
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #81b6e1;
    padding: 0 14px;
}
.good-layer>div.good-row{
    margin: 12px 14px 0;
    display: -webkit-flex;
    display: flex;
    height: 26px;
    line-height: 26px;
    position: relative;
}
.good-layer>div.good-row>span:first-child{width: 110px}
.good-layer>div.good-row>input:first-of-type{
    width: 95px;
    height: 24px;
    border: 1px solid #ccc;
}
.good-layer>div.good-row>input.good-row-long-input:first-of-type{
    width: 348px;
}
.good-layer>div.good-button-area{
    height: 39px;
    line-height: 39px;
    margin-top: 26px;
    text-align: center;
    background-color: #f6f9fb;
}
div.good-row>.e-counter{
    bottom: 2px;
}