.m-between-box.online{line-height: 24px}
table>tbody>.online-tr{line-height: 1.5}
.online-tr>td{
    vertical-align: top;
}
.online-tr>td>p{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
}
.online-tr>td>div{line-height: 33px}
.online-tr>td:nth-child(1){
    min-width: 111px;
    min-height: 100px;
    line-height: 100px;
    vertical-align: middle;
}
.online-tr>td:nth-child(2){min-width: 113px;}
.online-tr>td:nth-child(3){min-width: 102px;}
.online-tr>td:nth-child(4){min-width: 64px;}
.online-tr>td:nth-child(5){min-width: 75px;}
.online-tr>td:nth-child(6){
    min-width: 146px;
    vertical-align: middle;
}
.online-tr>td:nth-child(7){
    min-width: 83px;
    vertical-align: middle;
}
.online-tr>td:nth-child(8){
    vertical-align: middle;
}
.online-tr>td:nth-child(9){
    min-width: 86px;
    vertical-align: middle;
}