.search{
    width: 252px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: inline-flex;display: -webkit-inline-flex;
}
.search>input, .search>button{line-height: 30px;height: 100%;border: 0;outline: none}
.search>input{
    width: 212px;
    font-size: 12px;
    padding: 0 10px;
    color: #666;
}
.search>button{
    width: 40px;
    background: #ff6c43;
    color: #fff;
    font-size: 16px;
    text-align: center;
}