.statistics-tab{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.statistics-tab>span{
    font-size: 14px;
    height: 28px;
    display: inline-block;
    padding: 0 10px;
    margin-right: 20px;
    cursor: pointer;
}
.statistics-tab>span.checked{
    border-bottom:2px solid #09b1b0;
    color: #09b1b0;
}
.statistics-tab>:last-child{margin-right: 0}
.m-box.statistics-box{
    display: -webkit-flex;display: flex;
    justify-content: space-between;

}
.statistics-row>div{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.statistics-row>div:last-child{border: none;}