.balance-title{
    font-size: 16px;
    min-height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}
.balance-title>span{color: #3596e3;}
.balance>:first-child{
    display: -webkit-flex;display: flex;
    justify-content: space-between;
}
.balance>:first-child>:last-child{font-size: 16px;}
.balance>:first-child>:last-child>span{font-size: 22px;color: #fd1603;font-weight: bold}
.balance>.row{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 20px;
    border:1px solid #f5f5f5;
}

.balance>.row .prefix{
    display: inline-block;
    width: 20px;
    height: 19px;
    vertical-align: middle;
    background: url(img/balance-prefix.png) no-repeat center left;
}
.balance>.row .word{color: #808080;font-size: 14px;}
.balance>.row .detail{width: 300px}
.balance>.row .m-green,.balance>.row .m-red{width: 100px}
.balance>.m-blue{text-align: right;margin-top: 20px;font-size: 16px;cursor: pointer}