html,body{height: 100%;width: 100%;max-width: 1920px;max-height: 1080px;}
body,header,input,span,div,section,aside,dl,dt,dd,nav,iframe{padding: 0;margin: 0}
input{outline: none;border:none;}
body,section,aside,iframe,dt,dd{box-sizing: border-box;-webkit-box-sizing: border-box;}
header,section,dt{
    display: flex;display: -webkit-flex;justify-content: space-between;
}
body{background: #09b1b0;}    /*body背景色*/
/*界面头部*/
header{
    background: url(images/main-header.png) no-repeat 0 0;
    height: 101px;background-size: 100% 100%;min-width: 1024px;
    color: rgb(255, 255, 255);line-height: 101px;
}
#hleft{font-size: 32px;font-weight: bold;height: 100px;padding-left: 28px;}    /*界面顶部左侧*/
#hright{padding-right: 26px;font-size: 18px;}    /*界面顶部右侧*/
#hright>span{margin-right: 50px;padding-left: 34px;padding-top: 6px;}
#feedback{background: url(images/main-feedback.png) no-repeat;}    /*反馈*/
#password{background: url(images/main-password.png) no-repeat;background-size: 25px 25px;}    /*修改密码*/
/*退出登录*/
#logout{background:url(images/main-logout.png);color:#fff;width:71px;height:34px;font-size:18px;}
/*界面主体*/
section{padding: 10px;height: calc(100% - 101px);}
aside,iframe{background:rgb(255, 255, 255);border: 2px solid #038281;height: 100%;}
/*主体左侧宽度*/
aside{width: 230px;min-width: 230px;}
/*主体右侧宽度*/
iframe{width: calc(100% - 240px);min-width: 800px;}
aside,iframe{min-height: 600px;}
/*主体左侧顶部展示*/
#base{padding-top: 26px;height: 202px;background: #a7efef;}
#logo{height: 88px;width: 88px;margin-bottom:16px;background-size: 88px 88px;}
#name{margin-bottom: 16px;font-size: 22px;color: #242424;}
#state{
    font-size: 18px;color: #ff6f43;height: 27px;line-height: 27px;
    padding-right: 60px;background: url(images/main-open.png) no-repeat center right;
}
/*主体左侧导航展示*/
#nav{height:calc(100% - 228px);background:#fff;}
#container{height:100%;overflow: auto;}
dt{
    background: url(images/main-option.png);background-size:100% 100%;
    font-size: 18px;height: 45px;line-height: 45px;padding: 0 25px 0 25px;
}
dd{padding: 13px 22px 5px 40px;font-size: 16px;}
nav{line-height: 22px;margin-bottom: 8px;padding-left: 16px;}
dl>dd>nav>em{
    font-size: 14px;
    display: inline-block;
    color: #ffffff;
    height: 22px;
    float: right;
    background: #ff6d44;
    padding: 0 8px 0;
    border-radius: 50px;
}


#order{background: url(images/main-order.png);}    /*线上订单*/
#finance{background: url(images/main-finance.png)}    /*线下收银*/
#manage{background: url(images/main-manage.png)}    /*商家管理*/
.spread{background: url(images/main-spread.png);}    /*选单展开*/
.shrink{background: url(images/main-shrink.png);}    /*选单收缩*/
.chosen{background: url(images/main-chosen.png) no-repeat center left;color: red;}    /*导航选中效果*/
#order,#finance,#manage{background-position:center left;background-repeat:no-repeat;padding-left: 30px;}
.shrink,.spread{background-position:center right;background-repeat:no-repeat;height:100%;width:18px;}
