/* 头组件 */
.elem-header{
    height: 35px;
    line-height: 35px;
    background: #3596e3;
}
.elem-header>.left{
    height: 100%;
    margin-left: 14px;
    font-size: 14px;
    color: #fff;
}
.elem-header>.right{
    height: 100%;
    width: 17px;
    margin-right: 12px;
    background: url(img/toast-close.png) no-repeat center center;
    cursor: default;
}
/* 空数据组件样式 */
.empty{
    width: 160px;
    height: 20px;
    font-size: 14px;
    color: #999;
    text-align: center;
    padding-top: 96px;
    background: url(img/empty.png) no-repeat center top;
    position: absolute;
    top: 50%;left: 50%;
    margin: -58px 0 0 -80px;   
}

/* 图片光箱组件样式 */
.image-light-box{
    width: 680px;
    height: 545px;
    position: fixed;
    left: 50%;top: 50%;
    margin: -183.5px 0 0 -340px;
    z-index: 999999;
}

.image-light-box-body{
    height: 510px;
    width: 680px;
    position: relative;
    background-color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.image-light-box-body>img{max-width: 680px;max-height: 510px;}
.image-light-box-prev{
    width: 340px;
    height: 100%;
    background: url(img/prev-piece.png) no-repeat center left;
    position: absolute;
    left: 0;top: 0;
    cursor: pointer;
}
.image-light-box-next{
    width: 340px;
    height: 100%;
    background: url(img/next-piece.png) no-repeat center right;
    position: absolute;
    right: 0;top: 0;
    cursor: pointer;
}
.image-light-box-bottom{
    height: 34px;
    line-height: 34px;
    width: 100%;
    color: #fff;
    background: rgba(153,153,153,.4);
    position: absolute;
    left: 0;bottom: 0;
}
.image-light-box-bottom>.left{
    height: 100%;
    margin-left: 16px;
}
.image-light-box-bottom>.right{
    height: 100%;
    margin-right: 16px;
}

/* 下拉搜索框样式 */
.select-search{
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 32px;
}
.select-search>div{
    display: inline-block;
    height: 100%;
    line-height: 30px;
    position: relative;
    overflow: hidden;
}
.select-search>.select-search-option-show{overflow: visible}
.select-search>div>i, .select>i{
    height: 100%;
    width: 14px;
    background: url(img/elem-select.png) no-repeat center center;
    position: absolute;
    top: 0;right: 7px;
    z-index: 1;
    cursor: default;
}
.select-search-selected{
    padding: 0 28px 0 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: default;
}
.select-search-option-show>.select-search-selected{border-bottom-left-radius: 0;}
.select-search-option{
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    border-top: 0;
    white-space:nowrap;    /* 文字不换行 */
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 1;
    cursor: default;
}
.select-search-option>div{
    padding: 0 28px 0 10px;
    border-bottom: 1px solid #ccc;
}
.select-search-option>div:last-child{border: none}
.select-search>input[type=text], 
.select-search>button{
    line-height: 30px;
    height: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
}
.select-search>input[type=text]{
    width: 157px;
    font-size: 12px;
    padding: 0 10px;
    color: #666;
}
.select-search>button{
    width: 40px;
    background: #ff6c43;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
/* 下拉框组件 */
.select{
    display: inline-block;
    height: 32px;
    line-height: 30px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.select.select-show{overflow: visible}
.select-selected{
    padding: 0 28px 0 10px;
    border: 1px solid #ccc;
    cursor: default;
}
.select-option{
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    min-width: 100%;
    box-sizing: border-box;
    border-top: 0;
    white-space:nowrap;    /* 文字不换行 */
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 1;
    cursor: default;
}
.select-option>div{
    padding: 0 28px 0 10px;
    border-bottom: 1px solid #ccc;
}
.select-option>div:hover{
    background: #3596e3;
    color: #fff;
}
.select-option>div:last-child{border: none}