/* box-sizing注册 */
.ui-search,.ui-alert-checkbox,.ui-special,.ui-special-input-area,.ui-row,
.ui-special-text-area,.ui-input,.ui-input2,.ui-input3{box-sizing: border-box;-webkit-box-sizing: border-box;}
/* 容器样式 */
.ui-container{display: block;padding: 18px 16px 0;}
.ui-content{padding-top: 20px;flex-wrap: wrap}
.ui-box,.ui-box-between,.ui-content,.ui-box-column,.ui-box-right,
.ui-question-choose-bar{display: flex;display: -webkit-flex;}
.ui-search,.ui-math-container{display: inline-flex;display: -webkit-inline-flex;}
.ui-box-between{justify-content: space-between}
.ui-box-column{flex-direction: column;}
.ui-box-right{flex-direction:row-reverse;}
/* math 容器样式 */
.ui-number{display: inline-block;padding: 0 20px;height: 19px;}
.ui-subtract{display: inline-block;height: 19px;width: 19px;background: url(images/ui-subtract.png);}
.ui-add{display: inline-block;height: 19px;width: 19px;background: url(images/ui-add.png);}
/* 面包屑导航样式 */
#crumbs{
    color: #242424;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    background: #eef8ff;
    display: block;
    padding-left:16px;
}
#crumbs>div{display:inline-block}
#crumbs span,#crumbs em{font-size: 14px;display: inline-block;padding-left: 12px;}
#crumbs span:hover{color: #01afae;}#crumbs em{color: #999999;}
/* 选项卡样式 */
.ui-tab{
    display: inline-block;
    height: 40px;text-align: center;line-height: 40px;padding: 0 24px;
    background: #f1f1f1;color: #333333;
    font-size: 18px;
    margin-right: 18px;
}
/*选项卡选中样式*/
.ui-tab-chosen{color: #fff;background: #02bfbe;}
/* 搜索框样式 */
.ui-search{
    width: 382px;height: 42px;
    border: 1px solid #b2b2b2;border-radius: 5px;
    padding-left: 42px;overflow: hidden;
    background: url(images/ui-search.png) no-repeat 10px center;
}
.ui-search>input[type=text]{height: 100%;width: 270px;font-size: 16px;line-height: 40px;}
.ui-search>input[type=button]{
    width: 68px;height: 100%;
    background: #ff6c43;color: #fff;font-size: 18px;
    text-align: center;line-height: 40px;
}
/* 输入框样式 */
.ui-input{
    width: 250px;height: 45px;border:1px solid #666666;
    line-height: 45px;font-size: 18px;padding: 0 18px;
}
.ui-input2{
    width: 110px;height: 32px;
    padding: 0 9px;font-size: 18px;
    line-height: 32px;border:1px solid #666666
}
.ui-input3{
    width: 210px;height: 32px;
    padding: 0 9px;font-size: 16px;
    line-height: 32px;border:1px solid #666666
}
.ui-text-font16{font-size: 16px;}
.ui-text-right{text-align: right;}.ui-text-center{text-align: center;}

/* table样式 */
.ui-table{width: 100%;}
.ui-table th,.ui-table td{padding: 0 10px;text-align: center;}
.ui-table-b th,.ui-table-b td{border: 1px solid #b2b2b2;}
.ui-fieldset{border: 1px solid #b2b2b2;}    /* 线包字边框样式 */
/* table tr样式 */
.ui-tr-h{height: 38px;background: #eef8ff;font-size: 16px;}
.ui-tr-d{height: 50px;max-width: 390px;}
.ui-tr-d img{width: 60px;height: 60px;padding: 20px 0;}
.ui-tr-h th,.ui-tr-d td,.ui-tr-d img{vertical-align: middle;}
/* table th td样式 */
.ui-table .ui-b{border: 1px solid #b2b2b2;}
.ui-red{color: red;}
.ui-grey{color: #b2b2b2;}
/* 按钮样式 */
.ui-btn{
    font-size: 14px;height: 27px;padding: 0 12px;
    text-align:center;vertical-align:middle;
    border-radius:5px;background: #fff;
}
.ui-btn-large{height: 46px;padding: 0 64px;font-size: 20px;}    /* 大按钮样式 */
.ui-btn-cancel{border:1px solid #b2b2b2;}    /* 取消按钮 */
.ui-btn-confirm{background: #09b1b0;color: #fff;}    /* 确认按钮 */
.ui-btn-grey{background: grey;color: #fff;}    /* 按钮至灰 */
.ui-btn-editor{background: #ff6e42;color: #fff;}    /* 编辑按钮 */
.ui-btn-tab{height: 42px;padding: 0 22px;font-size: 18px;background: #09b1b0;color: #fff;border-radius:0;}    /* tab样式的按钮 */
/* 单行样式 */
.ui-row{
    display: flex;display: -webkit-flex;justify-content: space-between;
    align-items: center;height: 53px;font-size: 16px;width: 100%;padding: 0 20px;
    border:1px solid #f5f5f5;
}
/* 复选框样式 */
.ui-checkbox{
    display: inline-flex;display: -webkit-inline-flex;align-items: center;
    height: 19px;line-height: 19px;padding-left: 30px;
    background-image: url(images/ui-checkbox.png);
    background-repeat: no-repeat;background-position: left center;
}
.ui-checked{background-image: url(images/ui-checked.png);}    /* 复选框选中样式 */
/* 复选框样式2 */
.ui-checkbox2{
    display: inline-flex;display: -webkit-inline-flex;align-items: center;
    padding-left: 50px;height: 29px;line-height: 29px;
    background-image: url(images/ui-checkbox2.png);
    background-repeat: no-repeat;background-position: left center;
}
.ui-checked2{background-image: url(images/ui-checked2.png);}
/* 单选框样式 */
.ui-radio{
    display: inline-flex;display: -webkit-inline-flex;align-items: center;
    height: 23px;padding-left: 30px;line-height: 23px;
    background: url(images/ui-radio.png) no-repeat center left;
}
.ui-radio-checked{background:url(images/ui-radio-checked.png) no-repeat center left;}    /* 单选框选中样式 */

/* 弹出框背景样式 */
.ui-alert-bg{
    background: rgba(153,153,153,0.5);
    position: absolute;top: 0;left: 0;
    width: 100%;height: 100%;
}
/* 关闭窗口样式 */
.ui-close{height: 100%;width: 30px;background: url(images/ui-close.png) no-repeat center;}
/* 复选弹出框 */
.ui-alert-checkbox{
    width: 409px;height: 382px;background: #fff;border-radius: 5px;padding: 0 13px;
    position: absolute;left: calc((100% - 409px) / 2);top: calc((100% - 382px) / 2);
}
.ui-alert-title{
    height: 61px;line-height:61px;
    text-align: center;vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;color: #333333;
    margin-bottom: 33px;
}
.ui-alert-line{margin-bottom: 18px;display: block;padding-left: 38px;}
.ui-botton-area{text-align: center;margin-top: 44px;}
/* 特殊工艺加价弹出框 */
.ui-special{
    width: 522px;height: 428px;background: #fff;
    border-radius: 5px;padding: 56px 58px 32px 44px;
    position: absolute;left: calc((100% - 522px) / 2);top: calc((100% - 428px) / 2);
}
.ui-special-row{margin-bottom: 22px;font-size: 18px;line-height: 38px;}
.ui-special-btn-row{margin-top: 34px;padding: 0 12px 0 26px;}
.ui-special-row,
.ui-special-btn-row,
.ui-special-input-area,
.ui-special-text-area{display: flex;display: -webkit-flex;justify-content: space-between;}
.ui-special-input-area{
    width: 277px;height: 38px;border: 1px solid #b2b2b2;padding-right: 10px;line-height: 38px;
}
.ui-special-input-area input{width: 242px;height: 100%;font-size: 18px;line-height: 38px;}
.ui-special-text-area{
    width: 277px;height: 138px;border: 1px solid #b2b2b2;position: relative;overflow: hidden;
}
.ui-special-text-area textarea{height: 100%;width: 100%;resize:none;font-size: 18px;}
/* 文本域后缀字数 */
.ui-textarea-postfix{
    display: inline-block;height: 18px;font-size: 16px;line-height: 18px;
    position: absolute;bottom: 10px;right: 10px;color: grey;
}
/* 图片项目样式 */
.ui-image{
    width: 81px;height: 81px;
    margin-right: 16px;font-size: 16px;
    position: relative;text-align: right;
    background-size: 81px 81px;
    background-position: center;
}
.ui-image-add{background: url(images/ui-image-add.png) no-repeat center;}
.ui-image-delete{
    width: 20px;height: 20px;display: inline-block;
    position: absolute;top: 0;right: 0;
    background: url(images/ui-image-delete.png) no-repeat center;
}
/* 图片项目文字提醒 */
.ui-image-text{height: 81px;width: 195px;position: relative;display: inline-block;text-align:center;}
.ui-image-text-bottom{display: inline-block;color: #ff6f43;position: absolute;bottom:0;left:0;}
/* 选中项目样式 */
.ui-chosen-item{
    height: 29px;line-height: 29px;border: 1px solid #cccccc;padding: 0 20px;
    position: relative;font-size: 16px;display: inline-block;margin: 0 20px 10px 0;
}
.ui-chosen-item-cancel{
    display: inline-block;position: absolute;
    top: -10px;right: -10px;
    width: 20px;height: 20px;
    background: url(images/ui-cancel.png) no-repeat;
}
/* 衣物检查界面样式 */
.ui-check-title{height:36px;font-size:16px;line-height:36px;padding:0 15px;background: #eef8ff;}
.ui-check-word{width:81px;height:31px;text-align:right;font-size:16px;line-height:30px;}
.ui-check-container{padding: 0 14px;font-size: 16px;height: 30px;line-height: 30px;display: inline-block}
.ui-check-btn{
    width: 85px;height: 30px;
    color: #fff;text-align: center;
    line-height: 30px;font-size: 16px;
    background: #ff6f43;
}
/* 颜色设置 问题描述界面样式 */
.ui-question-choose-word{height: 31px;line-height: 31px;width: 70px;font-size: 16px;}
.ui-question-choose-bar{width: calc(100% - 170px);flex-wrap: wrap;}
.ui-question-container{width: 100%;}
.ui-question-title{
    font-size: 16px;border: 1px solid #cccccc;padding: 0 12px;
    height: 38px;line-height: 38px;background: #eef8ff;
    display: flex;display: -webkit-flex;justify-content: space-between;
    box-sizing: border-box;-webkit-box-sizing: border-box;align-items:center;
}
/*颜色问题展开收缩样式*/
.ui-question-shrink,
.ui-question-spread{display: inline-block;width: 22px;height: 22px;}
.ui-question-shrink{background: url(images/ui-question-shrink.png) no-repeat;}
.ui-question-spread{background: url(images/ui-question-spread.png) no-repeat;}
.ui-question-item-container{
    display: flex;display: -webkit-flex;flex-wrap: wrap;margin-top:20px;
}
.ui-question-item-title{width: 100%;font-size: 16px;color: #09b1b0;line-height: 24px;}
.ui-question-item{margin: 0 40px 20px 0;}
/* 提示框样式 */
.ui-notification{
    color:#fff;background:black;border-radius:3px;opacity:0.7;
    font-size:16px;height:30px;line-height:30px;
    text-align:center;padding: 0 20px;
}
/* 收衣界面样式 */
.ui-take-info-container{
    padding-top:53px;display: flex;display: -webkit-flex;justify-content: center;
}
.ui-take-info-box{
    min-height: 400px;width: 370px;background: #f7f7f7;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    padding: 30px 0 0 30px;margin:0 37px;
    display: inline-flex;display: -webkit-inline-flex;flex-direction: column;
}
.ui-take-info-title{font-size: 22px;color: #333333;padding-bottom: 20px;}
.ui-take-info-row{font-size: 18px;padding-bottom: 20px;}
.ui-take-info-orders{display: flex;display: -webkit-flex;}
.ui-take-order-row{line-height: 26px;font-size: 18px;padding-bottom: 10px;}
/* 新增散客界面样式 */
.ui-add-member-row{font-size: 18px;line-height: 45px;}
/* 订单支付界面样式 */
.ui-pay-amount{
    display: flex;display: -webkit-flex;
    height: 95px;justify-content: space-between;
    border-bottom: 1px solid #cccccc;align-items: center;
}
.ui-pay-prefix{font-size: 18px;color: #333333}
.ui-pay-row{padding: 30px 0 30px 110px;border-bottom: 1px dashed #cccccc}
.ui-pay-payment{
    padding-left:15px;padding-right: 32px;
    font-size: 22px;font-weight: bold;color: #333333;
}
.ui-pay-postfix{font-size: 16px;color: #999999;}
.ui-pay-radio-container{
    display: flex;display: -webkit-flex;flex-wrap: wrap;
    padding: 30px 0 0 100px;
}
.ui-pay-radio-container>.ui-radio{margin-right: 60px;}
/* 支付icon图标样式 */
.ui-pay-icon-vip{background-image: url(images/ui-vip.png)}
.ui-pay-icon-merchant{background-image: url(images/ui-merchant.png)}
.ui-pay-icon-cash{background-image: url(images/ui-cash.png)}
.ui-pay-icon-wechat{background-image: url(images/ui-wechat.png)}
.ui-pay-icon-alipay{background-image: url(images/ui-alipay.png)}
.ui-pay-icon-vip,.ui-pay-icon-merchant,
.ui-pay-icon-cash,.ui-pay-icon-wechat,
.ui-pay-icon-alipay
{
    display: inline-block;height: 34px;padding-left: 35px;
    line-height: 34px;font-style: normal;
    background-position: center left;background-repeat: no-repeat;
}
/* 门店信息界面样式 */
.ui-info-row{font-size: 16px;display: flex;display: -webkit-flex;align-items: flex-start;line-height: 26px;}
.ui-info-row>div:first-child{width: 150px;}
.ui-info-card-row{
    width: 300px;display: flex;display: -webkit-flex;justify-content: space-between;align-items: center;
}
/* 添加员工弹窗样式 */
.ui-clerk-box{
    width: 458px;height: 385px;background: #fff;border-radius: 5px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    position: absolute;left: calc((100% - 458px) / 2);top:  calc((100% - 385px) / 2);
}
.ui-clerk-box-up{
    display: block;width: 100%;height: 318px;padding: 0 28px;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-clerk-box-down{display: flex;display: -webkit-flex;height: 66px;justify-content: space-between}
.ui-clerk-box-title{
    height: 63px;border-bottom: 1px solid #cccccc;display: block;
    line-height: 63px;font-size: 22px;text-align: center;
}
.ui-clerk-box-content{padding: 20px 20px 16px 0;}
.ui-clerk-box-content>p{
    height: 38px;padding-bottom: 16px;line-height: 38px;font-size: 16px;
    display: flex;display: -webkit-flex;justify-content: space-between;
}
.ui-clerk-box-content>p>span:first-child{width: 94px;text-align: right;}
.ui-clerk-box-content>p>span:last-child{
    width: 99px;color: #02bfbe;padding-left: 10px;
}
.ui-clerk-box-input,.ui-clerk-box-input2{
    height: 38px;width: 285px;border: 1px solid #cccccc;font-size: 16px;
    box-sizing: border-box;-webkit-box-sizing: border-box;padding: 0 14px;
}
.ui-clerk-box-input2{width: 173px;}
.ui-clerk-box-btn{
    width: 50%;height: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;
    font-size: 22px;color: #02bfbe;text-align: center;line-height: 66px;
}
.ui-clerk-box-btn:first-child{border-right: 1px solid #cccccc;color:black;}
/* 财务对账界面样式 */
.ui-finance-container{
    display: flex;display: -webkit-flex;width: 100%;justify-content: space-between;
}
.ui-finance-prefix{
    padding-left: 24px;height: 20px;display: inline-block;
    background: url(images/ui-finance-prefix.png) no-repeat center left;
}
.ui-finance-small-word{color: #808080;font-size: 14px;}