/* box-sizing注册 */
.ui-search,.ui-alert-checkbox,.ui-special,.ui-special-input-area,.ui-row,
.ui-special-text-area,.ui-input,.ui-input2,.ui-input3{box-sizing: border-box;-webkit-box-sizing: border-box;}
/* 滚动条样式 */
::-webkit-scrollbar{width: 5px;}
/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb{border-radius: 10px;background: #e6e8e9;}
/* 容器样式 */
.ui-container{display: block;padding: 18px 16px 0;}
.ui-content{padding-top: 20px;flex-wrap: wrap}
.ui-box,.ui-box-between,.ui-content,.ui-box-column,.ui-box-right,.ui-page-box,
.ui-question-choose-bar{display: flex;display: -webkit-flex;}
.ui-search,.ui-search2,.ui-math-container,.ui-inline-box{display: inline-flex;display: -webkit-inline-flex;}
.ui-box-between{justify-content: space-between}
.ui-box-column{flex-direction: column;}
.ui-box-right{flex-direction:row-reverse;}
/* math 容器样式 */
.ui-number{display: inline-block;padding: 0 20px;height: 19px;}
.ui-subtract{display: inline-block;height: 19px;width: 19px;background: url(images/ui-subtract.png);}
.ui-add{display: inline-block;height: 19px;width: 19px;background: url(images/ui-add.png);}
/* 面包屑导航样式 */
#crumbs{
    color: #242424;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    background: #eef8ff;
    display: block;
    padding-left:16px;
}
#crumbs>div{display:inline-block}
#crumbs span,#crumbs em{font-size: 14px;display: inline-block;padding-left: 12px;}
#crumbs span:hover{color: #01afae;}#crumbs em{color: #999999;}
/* 选项卡样式 */
.ui-tab{
    display: inline-block;
    height: 40px;text-align: center;line-height: 40px;padding: 0 24px;
    background: #f1f1f1;color: #333333;
    font-size: 18px;
    margin-right: 18px;
}
/*选项卡选中样式*/
.ui-tab-chosen{color: #fff;background: #02bfbe;}
/* 搜索框样式 */
.ui-search{
    width: 382px;height: 42px;
    border: 1px solid #b2b2b2;border-radius: 5px;
    padding-left: 42px;overflow: hidden;
    background: url(images/ui-search.png) no-repeat 10px center;
}
.ui-search>input[type=text]{height: 100%;width: 270px;font-size: 16px;line-height: 40px;}
.ui-search>input[type=button]{
    width: 68px;height: 100%;
    background: #ff6c43;color: #fff;font-size: 18px;
    text-align: center;line-height: 40px;
}
/* 搜索框样式2 */
.ui-search2{height: 40px;line-height: 40px;}
.ui-search2>input[type=text]{
    height: 100%;width: 422px;margin-right: 18px;font-size: 16px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #999;
}
.ui-search2>input[type=button]{
    width: 124px;height: 100%;font-size: 16px;
    text-align: center;border-radius: 5px;
    color: white;background: #fa6b63;
}
/* 输入框样式 */
.ui-input{
    width: 250px;height: 45px;border:1px solid #666666;
    line-height: 45px;font-size: 18px;padding: 0 18px;
}
.ui-input2{
    width: 110px;height: 32px;
    padding: 0 9px;font-size: 18px;
    line-height: 32px;border:1px solid #666666
}
.ui-input3{
    width: 210px;height: 32px;
    padding: 0 9px;font-size: 16px;
    line-height: 32px;border:1px solid #666666
}
.ui-text-font16{font-size: 16px;}
.ui-text-right{text-align: right;}.ui-text-center{text-align: center;}

/* table样式 */
.ui-table,.ui-table-b{width: 100%;}
.ui-table th,.ui-table td,.ui-table-b th,.ui-table-b td{padding: 0 10px;text-align: center;}
.ui-table-b th,.ui-table-b td{border: 1px solid #b2b2b2;}
.ui-fieldset{border: 1px solid #b2b2b2;}    /* 线包字边框样式 */
/* table tr样式 */
.ui-tr-h{height: 38px;background: #eef8ff;font-size: 16px;}
.ui-tr-d{height: 50px;max-width: 390px;}
.ui-tr-d img{width: 60px;height: 60px;padding: 20px 0;}
.ui-tr-h th,.ui-tr-d td,.ui-tr-d img{vertical-align: middle;}
/* table th td样式 */
.ui-table .ui-b{border: 1px solid #b2b2b2;}
.ui-red{color: red;}
.ui-grey{color: #b2b2b2;}
.ui-orange{color: #f7bb03}
.ui-default{color: #09b1b0;}
.ui-default2{color: #eb6304}
.ui-mv-default:hover{color: #09b1b0}
/* 按钮样式 */
.ui-btn{
    font-size: 14px;height: 27px;padding: 0 12px;
    text-align:center;vertical-align:middle;
    border-radius:5px;background: #fff;
}
.ui-btn-large{height: 46px;padding: 0 64px;font-size: 20px;}    /* 大按钮样式 */
.ui-btn-middle{height: 34px;font-size: 18px;padding: 0 20px;}    /* 中等按钮样式 */
.ui-btn-cancel{border:1px solid #b2b2b2;}    /* 取消按钮 */
.ui-btn-confirm{background: #09b1b0;color: #fff;}    /* 确认按钮 */
.ui-btn-grey{background: grey;color: #fff;}    /* 按钮至灰 */
.ui-btn-editor{background: #ff6e42;color: #fff;}    /* 编辑按钮 */
.ui-btn-tab{height: 42px;padding: 0 22px;font-size: 18px;background: #09b1b0;color: #fff;border-radius:0;}    /* tab样式的按钮 */
/* 单行样式 */
.ui-row{
    display: flex;display: -webkit-flex;justify-content: space-between;
    align-items: center;height: 53px;font-size: 16px;width: 100%;padding: 0 20px;
    border:1px solid #f5f5f5;
}
/* 复选框样式 */
.ui-checkbox,.ui-checkbox2,.ui-checkbox3{
    display: inline-flex;display: -webkit-inline-flex;align-items: center;
    background-repeat: no-repeat;background-position: left center;
}
.ui-checkbox{
    height: 19px;line-height: 19px;padding-left: 30px;
    background-image: url(images/ui-checkbox.png);
}
.ui-checked{background-image: url(images/ui-checked.png);}    /* 复选框选中样式 */
/* 复选框样式2 */
.ui-checkbox2{
    padding-left: 50px;height: 29px;line-height: 29px;
    background-image: url(images/ui-checkbox2.png);
}
.ui-checked2{background-image: url(images/ui-checked2.png);}
/* 复选框样式3 */
.ui-checkbox3{
    height: 24px;line-height: 24px;padding-left: 34px;font-size: 16px;
    background-image: url(images/ui-checkbox3.png);
}
.ui-checked3{background-image: url(images/ui-checked3.png);}
/* 单选框样式 */
.ui-radio{
    display: inline-flex;display: -webkit-inline-flex;align-items: center;
    height: 23px;padding-left: 30px;line-height: 23px;
    background: url(images/ui-radio.png) no-repeat center left;
}
.ui-radio-checked{background:url(images/ui-radio-checked.png) no-repeat center left;}    /* 单选框选中样式 */

/* 弹出框背景样式 */
.ui-alert-bg{
    background: rgba(153,153,153,0.5);
    position: absolute;top: 0;left: 0;
    width: 100%;height: 100%;
}
.ui-fixed-bg{
    background: rgba(153,153,153,0.5);
    position: fixed;top: 0;left: 0;
    z-index: 9999;
    width: 100%;height: 100%;
}
/* 关闭窗口样式 */
.ui-close{height: 100%;width: 30px;background: url(images/ui-close.png) no-repeat center;}
/* 关闭窗口样式2 */
.ui-close2{width: 35px;height: 35px;display: inline-block;background: url(images/ui-update-password-close.png);}
.ui-close2:hover{background: url(images/ui-update-password-close2.png);}
/* 关闭窗口样式3 */
.ui-close3{
    width: 29px;height: 29px;display: inline-block;background: url(images/ui-close3.png);
}
.ui-close3:hover{background: url(images/ui-close3-hover.png);}
/* 复选弹出框 */
.ui-alert-checkbox{
    width: 409px;height: 382px;background: #fff;border-radius: 5px;padding: 0 13px;
    position: absolute;left: calc((100% - 409px) / 2);top: calc((100% - 382px) / 2);
}
.ui-alert-title{
    height: 61px;line-height:61px;
    text-align: center;vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;color: #333333;
    margin-bottom: 33px;
}
.ui-alert-line{margin-bottom: 18px;display: block;padding-left: 38px;}
.ui-botton-area{text-align: center;margin-top: 44px;}
/* 特殊工艺加价弹出框 */
.ui-special{
    width: 522px;height: 428px;background: #fff;
    border-radius: 5px;padding: 56px 58px 32px 44px;
    position: absolute;left: calc((100% - 522px) / 2);top: calc((100% - 428px) / 2);
}
.ui-special-row{margin-bottom: 22px;font-size: 18px;line-height: 38px;}
.ui-special-btn-row{margin-top: 34px;padding: 0 12px 0 26px;}
.ui-special-row,
.ui-special-btn-row,
.ui-special-input-area,
.ui-special-text-area{display: flex;display: -webkit-flex;justify-content: space-between;}
.ui-special-input-area{
    width: 277px;height: 38px;border: 1px solid #b2b2b2;padding-right: 10px;line-height: 38px;
}
.ui-special-input-area input{width: 242px;height: 100%;font-size: 18px;line-height: 38px;}
.ui-special-text-area{
    width: 277px;height: 138px;border: 1px solid #b2b2b2;position: relative;overflow: hidden;
}
.ui-special-text-area textarea{height: 100%;width: 100%;resize:none;font-size: 18px;}
/* 文本域后缀字数 */
.ui-textarea-postfix{
    display: inline-block;height: 18px;font-size: 16px;line-height: 18px;
    position: absolute;bottom: 10px;right: 10px;color: grey;
}
/* 图片项目样式 */
.ui-image{
    width: 81px;height: 81px;
    margin-right: 16px;font-size: 16px;
    position: relative;text-align: right;
    background-size: 81px 81px;
    background-position: center;
}
.ui-image-add{background: url(images/ui-image-add.png) no-repeat center;}
.ui-image-delete{
    width: 20px;height: 20px;display: inline-block;
    position: absolute;top: 0;right: 0;
    background: url(images/ui-image-delete.png) no-repeat center;
}
/* 图片项目文字提醒 */
.ui-image-text{height: 81px;width: 195px;position: relative;display: inline-block;text-align:center;}
.ui-image-text-bottom{display: inline-block;color: #ff6f43;position: absolute;bottom:0;left:0;}
/* 选中项目样式 */
.ui-chosen-item{
    height: 29px;line-height: 29px;border: 1px solid #cccccc;padding: 0 20px;
    position: relative;font-size: 16px;display: inline-block;margin: 0 20px 10px 0;
}
.ui-chosen-item-cancel{
    display: inline-block;position: absolute;
    top: -10px;right: -10px;
    width: 20px;height: 20px;
    background: url(images/ui-cancel.png) no-repeat;
}
/* 衣物检查界面样式 */
.ui-check-title{height:36px;font-size:16px;line-height:36px;padding:0 15px;background: #eef8ff;}
.ui-check-word{width:81px;height:31px;text-align:right;font-size:16px;line-height:30px;}
.ui-check-container{padding: 0 14px;font-size: 16px;height: 30px;line-height: 30px;display: inline-block}
.ui-check-btn{
    width: 85px;height: 30px;
    color: #fff;text-align: center;
    line-height: 30px;font-size: 16px;
    background: #ff6f43;
}
/* 颜色设置 问题描述界面样式 */
.ui-question-textarea{
    width: 100%;height: 81px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #ccc;padding: 16px;
    resize: none;font-size: 18px;
}
.ui-question-choose-word{height: 31px;line-height: 31px;width: 70px;font-size: 16px;}
.ui-question-choose-bar{width: calc(100% - 90px);flex-wrap: wrap;}
.ui-question-container{width: 100%;}
.ui-question-title{
    font-size: 16px;border: 1px solid #cccccc;padding: 0 12px;
    height: 38px;line-height: 38px;background: #eef8ff;
    display: flex;display: -webkit-flex;justify-content: space-between;
    box-sizing: border-box;-webkit-box-sizing: border-box;align-items:center;
}
/*颜色问题展开收缩样式*/
.ui-question-shrink,
.ui-question-spread{display: inline-block;width: 22px;height: 22px;}
.ui-question-shrink{background: url(images/ui-question-shrink.png) no-repeat;}
.ui-question-spread{background: url(images/ui-question-spread.png) no-repeat;}
.ui-question-item-container{
    display: flex;display: -webkit-flex;flex-wrap: wrap;margin-top:20px;
}
.ui-question-item-title{width: 100%;font-size: 16px;color: #09b1b0;line-height: 24px;}
.ui-question-item{margin: 0 40px 20px 0;}
/* 提示框样式 */
.ui-notification{
    color:#fff;background:black;border-radius:3px;opacity:0.7;
    font-size:16px;height:30px;line-height:30px;
    text-align:center;padding: 0 20px;
}
/* 收衣界面样式 */
.ui-take-info-container{
    padding-top:53px;display: flex;display: -webkit-flex;justify-content: center;
}
.ui-take-info-box{
    min-height: 400px;width: 370px;background: #f7f7f7;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    padding: 30px 0 0 30px;margin:0 37px;
    display: inline-flex;display: -webkit-inline-flex;flex-direction: column;
}
.ui-take-info-title{font-size: 22px;color: #333333;padding-bottom: 20px;}
.ui-take-info-row{font-size: 18px;padding-bottom: 20px;}
.ui-take-info-orders{display: flex;display: -webkit-flex;}
.ui-take-order-row{line-height: 26px;font-size: 18px;padding-bottom: 10px;}
/* 新增散客界面样式 */
.ui-add-member-row{font-size: 18px;line-height: 45px;}
/* 订单支付界面样式 */
.ui-pay-amount{
    display: flex;display: -webkit-flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;align-items: center;
}
.ui-pay-amount-area{display: flex;display: -webkit-flex;}
.ui-pay-amount-area:first-child{padding-top: 23px;}
.ui-pay-amount-area>span:first-child{width: 80px;font-size: 16px;padding-bottom: 23px;text-align: right;}
.ui-pay-amount-area>span:last-child{width: 149px;font-size: 16px;padding-bottom: 23px;text-align: right;}
.ui-pay-prefix{font-size: 18px;color: #333333}
.ui-pay-row{padding: 30px 0 30px 110px;border-bottom: 1px dashed #cccccc}
.ui-pay-payment{
    padding-left:15px;padding-right: 32px;
    font-size: 22px;font-weight: bold;color: #333333;
}
.ui-pay-postfix{font-size: 16px;color: #999999;}
.ui-pay-radio-container{
    display: flex;display: -webkit-flex;flex-wrap: wrap;
    padding: 30px 0 0 100px;
}
.ui-pay-radio-container>.ui-radio{margin-right: 60px;}
/* 支付icon图标样式 */
.ui-pay-icon-vip{background-image: url(images/ui-vip.png)}
.ui-pay-icon-merchant{background-image: url(images/ui-merchant.png)}
.ui-pay-icon-cash{background-image: url(images/ui-cash.png)}
.ui-pay-icon-wechat{background-image: url(images/ui-wechat.png)}
.ui-pay-icon-alipay{background-image: url(images/ui-alipay.png)}
.ui-pay-icon-vip,.ui-pay-icon-merchant,
.ui-pay-icon-cash,.ui-pay-icon-wechat,
.ui-pay-icon-alipay
{
    display: inline-block;height: 34px;padding-left: 35px;
    line-height: 34px;font-style: normal;
    background-position: center left;background-repeat: no-repeat;
}
/* 门店信息界面样式 */
.ui-info-row{font-size: 16px;display: flex;display: -webkit-flex;align-items: flex-start;line-height: 26px;}
.ui-info-row>div:first-child{width: 150px;}
.ui-info-card-row{
    width: 300px;display: flex;display: -webkit-flex;justify-content: space-between;align-items: center;
}
/* 添加员工弹窗样式 */
.ui-clerk-box{
    width: 561px;min-height: 504px;background: #fff;border-radius: 10px;
    position: fixed;left: 50%;top: 50%;margin: -277px 0 0 -280.5px;
}
.ui-clerk-box-header{
    height: 60px;width: 100%;padding: 0 16px;
    display: flex;display: -webkit-flex;
    align-items: center;justify-content: space-between;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    background: url(images/ui-clerk-header.png) no-repeat left center;
}
.ui-clerk-box-header>span{
    height: 21px;line-height: 21px;padding-left: 30px;
    font-size: 20px;color: #537185;
    background: url(images/ui-clerk-icon.png) no-repeat left center;
}
.ui-clerk-box-body{
    width: 100%;min-height: 454px;padding: 25px 0;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #aec9d6;border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ui-clerk-box-row{
    display: flex;display: -webkit-flex;margin-bottom: 16px;
}
.ui-clerk-box-row>span:first-child{
    width: 125px;height: 40px;font-size: 18px;line-height: 40px;
    margin-right: 14px;text-align: right;
}
.ui-clerk-box-row>input[type=text],.ui-clerk-box-row>input[type=password]{
    height: 40px;line-height: 40px;width: 272px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #e0e7eb;
}
.ui-clerk-box-row>.input{width: 168px;margin-right: 14px;}
.ui-clerk-box-row>.captcha{height: 40px;line-height: 40px;font-size: 16px;color:#ff6536;}
.ui-clerk-box-row>.auth{display: inline-flex;display: -webkit-inline-flex;flex-wrap: wrap;width: 420px;}
.ui-clerk-box-row>.auth>span{width: 101px;margin-bottom: 20px;}
/* 财务对账界面样式 */
.ui-finance-container{
    display: flex;display: -webkit-flex;width: 100%;justify-content: space-between;
}
.ui-finance-prefix{
    padding-left: 24px;height: 20px;display: inline-block;
    background: url(images/ui-finance-prefix.png) no-repeat center left;
}
.ui-finance-small-word{color: #808080;font-size: 14px;}
/* 用户评价界面样式 */
.ui-appraise-box{padding: 24px 16px 28px;border-bottom: 1px dashed #cccccc;}
.ui-appraise-row{
    font-size: 18px;padding-bottom: 14px;
    display: flex;display: -webkit-flex;justify-content: space-between;
}
.ui-appraise-row2{display: block;padding-bottom: 28px;font-size: 14px;}
.ui-appraise-row3,.ui-appraise-row4,.ui-appraise-row5{display: block;font-size: 16px;}
.ui-appraise-row4,.ui-appraise-row5{padding-top: 16px;}
.ui-appraise-row5{
    display: flex;display: -webkit-flex;justify-content: space-between;align-items: flex-end;
}
.ui-appraise-textarea{
    width: 80%;box-sizing: border-box;-webkit-box-sizing: border-box;
    height: 125px;padding: 12px;border: 1px solid #cccccc;position: relative;
    display: flex;display: -webkit-flex;align-items: flex-start;border-radius: 5px;
}
.ui-appraise-textarea>textarea{height: 100%;width: 90%;resize: none;font-size: 16px;}
.ui-appraise-textarea>span{width: 10%;color: #09b1b0;}
/* 星星样式 */
.ui-starts-box{display: inline-block;}
.ui-starts-box>.ui-start-background{margin-right: 5px;}
.ui-starts-box>.ui-start-background:last-child{margin:0;}
.ui-start-background{
    display: inline-block;height: 19px;width: 19px;position: relative;background: #d6d6d6;
}
.ui-start{
    height: 19px;width: 19px;background: url(images/ui-start.png) no-repeat center;
    position: absolute;top: 0;left: 0;
}
.ui-start-forecolor{background: #f7bb03;width: 100%;height: 100%;}
/* 商品管理界面弹窗样式 */
.ui-goods-layer{
    width: 413px;height: 343px;padding: 27px 14px 0;background: #fff;
    box-sizing: border-box;-webkit-box-sizing: border-box;border-radius: 5px;
    position: absolute;left: calc((100% - 413px) / 2);top:calc((100% - 343px) / 2);
}
.ui-goods-layer-title{
    font-size: 18px;text-align: center;height: 30px;line-height: 30px;
    padding-bottom: 23px;border-bottom: 1px solid #cccccc;
}
.ui-goods-layer-body{padding: 36px 30px 46px 15px;}
.ui-goods-layer-between{
    display: flex;display: -webkit-flex;justify-content: space-between;
    align-items: center;
}
.ui-goods-layer-between:first-child{margin-bottom: 31px;}
.ui-goods-layer-between>input,.ui-goods-layer-between>span{font-size: 16px;}
.ui-goods-layer-between>input{
    text-align: right;box-sizing: border-box;-webkit-box-sizing: border-box;
    border:1px solid #cccccc;width: 215px;height: 37px;line-height: 37px;
    padding: 0 14px;
}
/* highcharts logo hidden */
.highcharts-credits{display: none;}
/* 分页样式 */
.ui-page-box{width: 100%;align-items: center;justify-content: center;padding: 20px 0;}
.ui-page-item,.ui-page-chosen{
    height: 30px;line-height: 30px;
    font-size: 14px;border-radius: 3px;
    padding: 0 12px;margin: 0 1px;
}
.ui-page-item{background: #f5f5f5;border:1px solid #e0e0e0;}
.ui-page-chosen{color: red;}
/* 订单详情样式 */
.ui-detail{padding:25px 0;display: flex;display: -webkit-flex;}
.ui-detail:first-child{padding-top: 0;}
.ui-detail:last-child{border-bottom: 1px dashed #cccccc;}
.ui-detail-logo{width: 76px;padding-right: 21px;}
.ui-detail-logo>img{width: 76px;height: 76px;}
.ui-detail-item,.ui-detail-item2{width: 200px;}
.ui-detail-item>div{font-size: 16px;padding-bottom: 20px;}
.ui-detail-item2>div{font-size: 14px;padding-bottom: 20px;}
.ui-detail-item>div:last-child,.ui-detail-item2>div:last-child{padding-bottom: 0;}
.ui-detail-images{display: inline-flex;display: -webkit-inline-flex;flex-wrap: wrap;}
.ui-detail-images>img{width: 88px;height: 88px;margin-right: 17px;}
.ui-detail-images>img:last-child{margin-right: 0;}
/* 线下订单详情图片容器样式 */
.ui-images-box{
    height: 88px;width: 364px;padding: 0 34px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    position: relative;overflow: hidden;
}
.ui-images-box>img{width: 88px;height: 88px;margin-left: 16px;}
.ui-images-box>img:first-of-type{margin-left: 0;}
.ui-images-box-previous{
    height: 100%;width: 14px;position: absolute;top: 0;left: 0;
    background: url(images/ui-previous.png) no-repeat center;
}
.ui-images-box-next{
    height: 100%;width: 14px;position: absolute;top: 0;right: 0;
    background: url(images/ui-next.png) no-repeat center;
}
.ui-images-box-no-previous{background: url(images/ui-no-previous.png) no-repeat center;}
.ui-images-box-no-next{background: url(images/ui-no-next.png) no-repeat center;}
/* 图片弹出层样式 */
.ui-light-image{
    position: fixed;
    display: flex;display: -webkit-flex;background: black;opacity: 0.6;
    min-width: 600px;min-height: 600px;overflow: hidden;
}
/* 反馈弹窗样式 */
.ui-feedback{
    height: 520px;width:808px;box-sizing: border-box;-webkit-box-sizing: border-box;
    border:1px solid #cccccc;position: fixed;top: 50%;left: 50%;margin: -260px 0 0 -404px;
    background: #fff;line-height: normal;
}
.ui-feedback-bg{width: 100%;height: 144px;background: url(images/main-feedback-bg.png);}
.ui-feedback-inputer{
    height: 298px;box-sizing: border-box;-webkit-box-sizing: border-box;width: 100%;
    position: relative;padding: 24px;
}
.ui-feedback-inputer>textarea{width: 100%;height: 100%;font-size: 16px;}
.ui-feedback-btn-area{
    width: 100%;display: flex;display: -webkit-flex;justify-content:center;
}
/* 修改密码弹窗样式 */
.ui-password{
    width: 447px;height: 373px;background: url(images/ui-update-password.png);
    position: fixed;top: 50%;left: 50%;margin: -186.5px 0 0 -223.5px;
    line-height: normal;color: #333333;
}
.ui-password-close{
    width: 35px;height: 35px;float: right;margin: 18px 16px 0 0;
    background: url(images/ui-update-password-close.png);
}
.ui-password-close:hover{background: url(images/ui-update-password-close2.png);}
.ui-password-label{
    width: 136px;height:40px;display: inline-block;font-size: 18px;line-height: 40px;text-align: right;
}
.ui-password-input{
    width: 260px;height: 40px;line-height: 40px;font-size: 18px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #cccccc;
}
.ui-password-btn{width: 81px;height: 37px;background: url(images/ui-update-password-btn.png);}
/* 合作门店界面样式 */
.ui-teamwork-add{
    width:414px;height: 310px;background: url(images/ui-teamwork-add.png);
    position: fixed;top:50%;left: 50%;margin: -148px 0 0 -183.5px;
}
.ui-teamwork-delete{
    width:357px;height: 263px;background: url(images/ui-teamwork-delete.png);
    position: fixed;top:50%;left: 50%;margin: -131.5px 0 0 -178.5px;
}
.ui-teamwork-title{
    width: 100%;height: 69px;box-sizing: border-box;-webkit-box-sizing: border-box;
    display: flex;display: -webkit-flex;
    justify-content: space-between;align-items: center;padding: 0 18px;font-size: 20px;
}
.ui-teamwork-prefix{
    height: 22px;padding-left: 22px;
    line-height: 22px;color: #537185;
    background: url(images/ui-teamwork1.png) no-repeat left center;
}
.ui-teamwork-prefix2{
    height: 23px;padding-left: 19px;
    line-height: 23px;color: #537185;
    background: url(images/ui-teamwork2.png) no-repeat left center;
}
.ui-teamwork-add-box{
    width: 100%;height: 227px;padding:20px 0 0 32px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-teamwork-input-area{display: flex;display: -webkit-flex;position: relative;}
.ui-teamwork-input{
    width: 251px;height: 40px;padding: 0 10px;font-size: 16px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    margin-right: 24px;line-height: 40px;border: 1px solid #b2b2b2;
}
.ui-teamwork-searcher{
    width: 251px;max-height: 167px;
    overflow-x: hidden;overflow-y: auto;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #b2b2b2; border-top: none;
    position: absolute;top: 100%;
}
.ui-teamwork-searcher-item{
    width: 100%;height: 28px;overflow: hidden;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    font-size: 16px;line-height: 28px;padding: 0 12px;
}
.ui-teamwork-searcher-item:hover{background: #d1f2fb;}
/* 按钮样式 */
.ui-teamwork-cancel{width: 81px;height: 37px;background: url(images/ui-teamwork-cancel.png)}
.ui-teamwork-confirm{width: 81px;height: 37px;background: url(images/ui-teamwork-confirm.png)}
/* 删除按钮域 */
.ui-teamwork-btn-area{
    width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;
    display: flex;display: -webkit-flex;justify-content: center;
}
/* 代金券界面样式 */
.ui-voucher-row{display: flex;display: -webkit-flex;margin-bottom: 18px;}
.ui-voucher-row>.label{width: 126px;font-size: 18px;line-height: 43px;text-align: right;}
.ui-voucher-row>.input{
    width: 259px;height: 43px;box-sizing: border-box;-webkit-box-sizing: border-box;
    line-height: 43px;font-size: 18px;padding: 0 14px;border: 1px solid #ccc;
}
.ui-voucher-row>.postfix{height: 43px;padding-left: 10px;font-size: 18px;line-height: 43px;}
.ui-voucher-list{display: flex;display: -webkit-flex;font-size: 18px;}
.ui-voucher-list .row{padding: 0 0 20px 22px;}
/* 挂号界面样式 */
.ui-registration-input{
    width: 167px;height: 36px;font-size: 16px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #ccc;padding: 0 10px;line-height: 36px;
}
/* 线下取衣(加班)界面样式 */
.ui-ot-items-box>div{
    width: 100%;height: 30px;font-size: 14px;line-height: 30px;
    border-bottom: 1px solid #ccc;text-align: center;overflow: hidden;
}
.ui-ot-items-box>div:last-child{border: none;}
/* 会员管理界面样式 */
.ui-member-manage-container{
    display: flex;display: -webkit-flex;
    flex-direction: column;align-items: center;
    padding-top: 154px;
}
.ui-member-manage-box{
    display: inline-flex;display: -webkit-inline-flex;
    flex-wrap: wrap;max-width: 857px;padding-top: 42px;
}
.ui-member-manage-box>div:nth-child(1){
    background: #fb6041;background-image: url(images/ui-consume.png);
    background-repeat: no-repeat;background-position: center 33px;
}
.ui-member-manage-box>div:nth-child(2){
    background: #2aadf1;background-image: url(images/ui-recharge-record.png);
    background-repeat: no-repeat;background-position: center 33px;
}
.ui-member-manage-box>div:nth-child(3){
    background: #de56d9;background-image: url(images/ui-member-balance.png);
    background-repeat: no-repeat;background-position: center 33px;
}
.ui-member-manage-box>div:nth-child(4){
    background: #6394e4;background-image: url(images/ui-add-member.png);
    background-repeat: no-repeat;background-position: center 33px;
}
.ui-member-manage-box>div:nth-child(5){
    background: #faa537;background-image: url(images/ui-info-change.png);
    background-repeat: no-repeat;background-position: center 33px;
}
.ui-member-manage-box>div:nth-child(6){
    background: #40d355;background-image: url(images/ui-member-recharge.png);
    background-repeat: no-repeat;background-position: center 33px;
}
.ui-member-manage-box>div{
    margin: 0 10px 10px 0;width: 279px;height: 142px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    padding-top: 90px;border-radius: 6px;text-align: center;font-size: 20px;
    color: white;
}
.ui-member-manage-box>div:nth-child(3n + 0){margin-right: 0;}
/* 会员管理界面新增会员弹框 */
.ui-mm-add{
    width: 352px;height: 286px;
    background: url(images/ui-mm-add.png);
    position: fixed;top: 50%;left: 50%;margin: -176px 0 0 -143px;
}
.ui-mm-upd{
    width: 321px;height: 258px;
    position: fixed;top: 50%;left: 50%;margin: -129px 0 0 -160.5px;
    background: url(images/ui-mm-upd.png);
}
.ui-mm-layer-title{
    height: 60px;padding: 15px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    display: flex;display: -webkit-flex;
    justify-content: space-between;align-items: center;
}
.ui-mm-input-area{
    display: inline-block;margin: 38px 0 27px 46px;
    height: 35px;line-height: 35px;font-size: 16px;
}
.ui-mm-input-area>input{
    width: 200px;height: 35px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #e0e7eb;
}
.ui-mm-radio-area{
    width: 100%;padding: 0 0 39px 46px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
/* icon图标样式 */
.ui-mm-icon-member,
.ui-mm-icon-info,
.ui-mm-icon-mobile,
.ui-mm-icon-discount,
.ui-mm-icon-payment,
.ui-mm-icon-money{
    height: 23px;line-height: 23px;padding-left: 26px;
    font-size: 18px;color: #537185;display: inline-block;
    background: url(images/ui-mm-member.png) no-repeat left center;
}
.ui-mm-icon-info{background: url(images/ui-mm-info.png) no-repeat left center;}
.ui-mm-icon-money{background: url(images/ui-mm-money.png) no-repeat left center;}
.ui-mm-icon-mobile{background: url(images/ui-mm-mobile.png) no-repeat left center;}
.ui-mm-icon-discount{background: url(images/ui-mm-discount.png) no-repeat left center;}
.ui-mm-icon-payment{background: url(images/ui-mm-payment.png) no-repeat left center;}
/* 会员详情界面样式 */
.ui-md-box{display: block;padding: 36px 0 14px 0;}
.ui-md-box>div{padding-bottom: 22px;}
.ui-md-box>div>span{font-size: 16px;color: #333;}
.ui-md-box>div>span:first-child{text-align: right;width: 113px;margin-right: 33px;display: inline-block;color: #666666;}
.ui-md-partition{
    width: 100%;height: 40px;line-height: 40px;
    background: #f5f5f5;color: #666666;padding-left: 20px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-md-row{
    display: flex;display: -webkit-flex;
    justify-content: space-between;height: 75px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    padding: 0 20px;
}
.ui-md-row>div:first-child{
    display: inline-flex;display: -webkit-inline-flex;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    flex-direction: column;padding: 20px 0 17px 0;
}
.ui-md-row>div:first-child>span:first-child{font-size: 16px;color: #333;padding-bottom: 10px;}
.ui-md-row>div:first-child>span:last-child{font-size: 14px;color: #999;}
.ui-md-row>div:last-child{
    font-size: 20px;line-height: 75px;color: #333;
}
/* 线下业务统计界面样式 */
.ui-os-box{
    display: flex;display: -webkit-flex;padding-left: 20px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    height: 46px;line-height: 46px;border-bottom: 1px solid #e0e0e0;
}
.ui-os-box>div{
    height: 100%;margin-right: 76px;font-size: 14px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-os-box>.choose{
    color: #09b1b0;border-bottom: 2px solid #09b1b0;
}
.ui-os-box2{
    display: flex;display: -webkit-flex;padding:41px 20px 34px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    justify-content: space-between;
}
.ui-table-b .ui-os-row{
    padding: 0;text-align: center;
}
.ui-os-row>div{
    height: 50px;line-height: 50px;width: 100%;overflow: hidden;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.ui-os-row>div:last-child{border: none;}
/* 新增会员界面样式 */
.ui-mcd-row{
    display: flex;display: -webkit-flex;
    height: 48px;border: 1px solid #e0e0e0;background: #fafafa;
    font-size: 14px;box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-mcd-row>div{
    display: inline-flex;display: -webkit-inline-flex;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    align-items: center;overflow: hidden;
    border-right: 1px solid #e0e0e0;padding-left: 21px;
}
.ui-mcd-row>div:last-child{border: none;}
.ui-mcd-input{
    width:195px;height: 36px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    line-height: 36px;border: 1px solid #e0e0e0;
}
/* 充值金额框 */
.ui-recharge-option{
    width: 200px;height: 196px;color: #666;
    display: inline-flex;display: -webkit-inline-flex;
    flex-direction: column;align-items: center;
    background: url(images/ui-recharge-option.png);
}
.ui-recharge-option>div:first-child{
    height: 59px;line-height: 59px;font-size: 20px;
}
.ui-recharge-option>div:nth-child(2){font-size: 38px;margin: 17px 0 25px;}
.ui-recharge-option>div:nth-child(2)>span{font-size: 22px;}
.ui-recharge-option>div:last-child{font-size: 26px;}
.ui-recharge-option-checked{background: url(images/ui-recharge-option-checked.png);color: #ff6f43;}
/* 充值支付区域 */
.ui-recharge-box{
    width: 1004px;height: 85px;padding: 0 40px;
    align-items: center;justify-content: space-between;
    display: inline-flex;display: -webkit-inline-flex;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px dashed #e0e0e0;
}
.ui-recharge-notice-box{
    width: 100%;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    padding: 10px 0 58px 61px;
}
/* 会员修改折扣及手机号弹窗样式 */
.ui-update-discount{
    width: 347px;height: 274px;
    position: fixed;top: 50%;left: 50%;
    margin: -137px 0 0 -173.5px;
    background: url(images/ui-update-discount.png);
}
.ui-update-mobile{
    width: 458px;height: 334px;
    position: fixed;top: 50%;left: 50%;
    margin: -167px 0 0 -229px;
    background: url(images/ui-update-mobile.png);
}
.ui-update-mobile .row{padding-bottom: 14px;align-items: center;display: flex;display: -webkit-flex;}
.ui-update-mobile .row:last-child{padding-bottom: 28px;}
.ui-update-mobile .row>span:first-child{width: 113px;text-align: right;margin-right: 16px;font-size: 18px;}
.ui-update-mobile .row>span:last-child{margin-left: 16px;font-size: 16px;color: #ff6536;}
.ui-update-mobile .row>input[type=text]{
    height: 40px;border: 1px solid #e0e7eb;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
/* 支付框样式 */
.ui-payment{
    width: 398px;height: 284px;
    position: fixed;left: 50%;top: 50%;
    margin: -142px 0 0 -199px;
    background: url(images/ui-payment.png);
}
.ui-payment-box{
    width: 100%;height: 224px;position: relative;padding: 0 20px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    display: flex;display: -webkit-flex;flex-wrap: wrap;
}
.ui-payment-input-box{display: flex;display: -webkit-flex;justify-content: space-between;margin-bottom: 25px;}
.ui-payment-input-box>input{
    width: 85px;height: 34px;text-align: center;line-height: 34px;
    font-size: 16px;color: #333;border: 1px solid #b2b2b2;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-payment-loading{
    width: 78px;height: 78px;
    background-image: url(images/ui-payment-loading.gif);
    background-size: 78px;
}
.ui-payment-fail{
    width: 79px;height: 79px;
    background-image: url(images/ui-payment-fail.png);
}
.ui-payment-success{
    width: 76px;height: 76px;
    background-image: url(images/ui-payment-success.png);
}
/* 线下订单工艺加价编辑页面样式 */
.ui-oe-row{
    height: 44px;line-height: 44px;width: 100%;
    font-size: 16px;color: #333;text-indent: 1em;
    margin: 15px 0;background: #f5f5f5;
}
.ui-oe-input{
    box-sizing: border-box;-webkit-box-sizing: border-box;
    border: 1px solid #ccc;padding: 0 14px;
    width: 313px;height: 37px;line-height: 37px;font-size: 14px;
}
.ui-oe-box{
    box-sizing: border-box;-webkit-box-sizing: border-box;
    display: inline-flex;display: -webkit-inline-flex;
    border: 1px solid #ccc;font-size: 14px;
    width: 276px;height: 37px;line-height: 37px;
    justify-content: space-between;padding: 0 10px;
}
.ui-oe-box>input{width: 80%;height: 100%;}
.ui-oe-container{
    display: flex;display: -webkit-inline-flex;
    align-items: flex-start;
}
.ui-oe-box2{
    display: inline-flex;display: -webkit-inline-flex;
    position: relative;
    width: 275px;height: 118px;border: 1px solid #ccc;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-oe-box2>textarea{height: 100%;width: 100%;border: none;resize: none;}
/* 线下订单时间框 */
.ui-oe-date{
    width: 584px;height: 385px;
    background: white;
    position: fixed;top: 50%;left: 50%;
    margin: -192.5px 0 0 -297px;
}
.ui-oe-title{
    height: 46px;padding: 0 17px;background: #f5f5f5;
    display: flex;display: -webkit-flex;
    justify-content: space-between;align-items: center;
    box-sizing: border-box;-webkit-box-sizing: border-box;
}
.ui-oe-body{
    height: 100%;padding: 15px;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    display: flex;display: -webkit-flex;flex-wrap: wrap;
    justify-content: center;
}
.ui-oe-table td{
    border: 1px solid #e0e0e0;font-size: 14px;
    text-align: center;word-wrap: break-word;
    vertical-align: center;width: 56px;overflow: hidden;
}
.ui-oe-table .td{width: 133px;}
.ui-oe-table .tr{height: 58px;}
.ui-oe-table .tr2{height: 38px;}
.ui-oe-table .forbidden{color: grey;}
.ui-oe-table .enabled{color: #ff9363;}
.ui-oe-table .choose{background: #ff9363;color: white;}
.ui-msg-box{
    width: 100%;height: 158px;border-bottom: 1px dashed #ccc;
    display: flex;display: -webkit-flex;align-items: center;
}
.ui-msg-box>div:first-child{
    width: 138px;height: 106px;font-size: 32px;color: #ccc;
    text-align: center;line-height: 106px;
    font-style: italic;background: #f5f5f5;margin-right: 20px;
}
.ui-msg-box-title{font-size: 20px;padding-bottom: 10px;}
.ui-msg-box-time{font-size: 14px;padding-bottom: 28px;}
.ui-msg-box-info{font-size: 16px;color: #666;}