html,body,div,input{padding: 0;margin: 0;}
input,button{outline-color: #4ca1f5;box-sizing: border-box;-webkit-box-sizing: border-box}
body{font-size: 14px;}
.fa-check-square{color: #fff;}
.fa-check-square.checked{color: #002f69}
html,body,#root,.container{width: 100%;height: 100%;position: relative;}
.container{-webkit-app-region: drag;}
/* 关闭窗口样式 */
#close{
    width: 38px;
    height: 38px;
    background: url(img/login-close.png);
    position: fixed;
    top: 8px;right: 8px;
    -webkit-app-region: no-drag;
}
/* 登录界面容器 */
.login-box{
    padding:106px 104px 0;
    background: url(img/login-bg.jpg) no-repeat 0 0;
};
/* 忘记密码界面容器 */
.forgot-box{
    padding: 60px 104px 0;
    background: url(images/forgot-bg.jpg) no-repeat 0 0;
}
.login-box,.forgot-box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.row{
    display: -webkit-flex;
    display: flex;
    height: 30px;
    position: relative;
    margin-bottom: 10px;
    -webkit-app-region: no-drag;
}
.row.between{justify-content: space-between}
.row.auto{height: auto}
.row.center{justify-content: center}
.row.right{justify-content: flex-end}
/* 文本输入框样式 */
.input{
    font-size: 16px;
    padding: 0 10px;
    height: 30px;
    width: 190px;
    border: 1px solid rgb(167, 199, 230);
    box-shadow: -1px -1px 1px rgb(171, 201, 231);
}
.input.short{width: 90px}
/* label样式 */
.label{display: inline-block;font-size: 18px;color:#002f69;width: 90px;height: 30px;line-height: 30px}
.label.auto{height: auto}
/* 验证码样式 */
.captcha{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}
/* 按钮样式 */
.button{
    font-size: 16px;
    color: #4f688e;
    width: 104px;
    height: 29px;
    background: url(img/login-btn.png);
    border: 0;
}
/* 提示框样式 */
.notice{
    color:#fff;background:black;border-radius:3px;font-size:16px;
    height:30px;line-height:30px;width:180px;text-align:center;
    overflow:hidden;position:fixed;left:156px;top:240px;
    z-index: 10;
}
.blue{color: #002f69}
.lightblue{color: #4f668e}
.red{color: #fa2212}
.pointer{cursor: pointer}
.f12{font-size: 12px;}
.word,.word2{font-size: 14px;color: #f83d18;display: inline-block;height: 26px;}
.word2{color: #333cfa;margin-left: 8px;}
.back{text-align: right;color: #002f69;padding: 3px 67px 0 0;}

/*修改样式*/
.input3{
	display:block;
	width:110px;height:26px;border: 1px solid rgb(167, 199, 230);
    box-shadow: -1px -1px 1px rgb(171, 201, 231);
    box-sizing: border-box;-webkit-box-sizing: border-box; 
    float:left;  
}