.problem{
    width: 700px;
    height: 580px;
    background-color: #fff;
    position: fixed;
    top: 50%;left: 50%;
    margin: -290px 0 0 -350px;
    border: 1px solid #3596e3;
    border-radius: 5px;
}
.problem>div{-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%}
.problem>div:first-child{
    background: #3596e3;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    position: relative;
    padding: 0 10px;
}
.problem>div:first-child>i.fa-times{
    position: absolute;
    top: 6px;right: 10px;
    font-size: 26px;
    color: #fff;
}
.problem>div:first-child>i.fa-times:hover{background: #2cd3d2;cursor: default}
.problem>div:nth-child(2){
    height: 390px;
    padding: 10px;
    overflow-y: auto;
    display:-webkit-flex;display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.problem>div:nth-child(2)>div{
    width: 164.2px;
    height: 70px;
    margin: 0 6px 6px 0;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    background-color: #fc9;
    padding: 6px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
}
.problem>div:nth-child(2)>div:hover{background-color: #f93}
.problem>div:nth-child(2)>div:nth-child(4n+0){margin-right: 0}

.problem>div:nth-child(3){
    margin: 16px 0;
    height: 28px;
    line-height: 28px;
    display: -webkit-flex;display: flex;
}
.problem>div:nth-child(3)>div{height: 100%;line-height: 28px}
.problem>div:nth-child(3)>:first-child{width: 80px;text-align: center}
.problem .m-tag-box{margin-right: 20px}
.problem .m-tag-box:last-child{margin-right: 0}
.problem>div:last-child{
    height: 75px;
    display: -webkit-flex;display: flex;
}
.problem>div:last-child>:first-child{width: 80px}
.problem>div:last-child>:last-child{
    display: -webkit-inline-flex;display: inline-flex;
    align-items: flex-end;
}
.problem>div:last-child>:last-child>:first-child{
    width: 466px;
    height: 100%;
    box-sizing: border-box;-webkit-box-sizing: border-box;
    position: relative;
    margin-right: 30px;
}
.problem>div:last-child>:last-child>:first-child>textarea{width: 100%;height: 100%;resize: none}